{% extends "network/layout.html" %} {% block body %}
{% load humanize %} 
<div id="allPosts">
  {% for post in page_obj %}
  <div class="card mt-3 px-3 py-2 w-75 mx-auto">
    <div class="d-flex">
      <h5 class="card-title">
        <a href="{% url 'user-profile' post.owner_id %}">{{post.owner}}</a>
      </h5>
      <span class="text-small ms-3">{{post.timestamp|naturaltime}}</span>
      {% if user.is_authenticated %}
        {% if user.id == post.owner_id %}
      <div class="edit-post ms-auto" data-post-id="{{post.id}}">
        <i class="fa-regular fa-pen-to-square"></i>
      </div>
      {% endif %} {% endif %}
    </div>
    <div class="card-body">
      <p class="card-text">{{post.message}}</p>
      <span
        class=""
        data-post-id="{{post.id}}"
      >
        <i 
        class="{% if post.totalLikes > 0 %} fa-solid {% else %} fa-regular {% endif %} fa-heart love-icon"
        data-is-user-login="{% if user.is_authenticated %}True{% else %}False{% endif %}"
        style="color: #ff0080"></i>
      </span>
      <span class="fw-light total-likes-{{post.id}}" style="display:{% if post.totalLikes == 0 %} none {% endif %}">{{post.totalLikes}} </span> 
    </div>
  </div>
  {% endfor %}
</div>
<center>
    {%if page_obj.has_previous %} {# whether the previous page exists #}
        <a href="?page={{page_obj.previous_page_number}}"><</a> {# link to the prev page #}
    {% endif %}
    <span>{{page_obj.number}}</span> {# the current page number #}
    
    {%if page_obj.has_next %} {# whether the next page exists #}
        <a href="?page={{page_obj.next_page_number}}">></a> {# link to the next page #}
    {% endif %}
</center>
{% endblock %}