{% extends "network/layout.html" %} 
    {% block body %}
        {% if user.is_authenticated %}
        <div class="card w-75 mx-auto pb-5 pt-2 px-4 position-relative">
            <div class="card-body fw-bold">Let's create a new post!</div>
            <form method="post" id="create_a_new_post" >
                {% csrf_token %}
                 <textarea class="form-control" id="post_message" placeholder="What are you thinking?"></textarea>
                 <button type="submit" class="position-absolute end-0 btn btn-primary mt-2 ms-auto me-4 btn-sm">POST</button>
            </form>
        </div>
        {% else %}
            {% comment %} <div class="row">
                <div class="col-12">

                </div>
            </div> {% endcomment %}
        {% endif %}
        <h3 class="text-center mt-3 text-primary title"></h3>
        <div id="allPosts"></div>
        <span id="spanSelect"></span>
<br/>
{% endblock %}
