{% extends "network/layout.html" %} 
    {% block body %}
        {% if user.is_authenticated %}
        <div class="card w-75 mx-auto pb-5 pt-2 px-4 position-relative">
            <div class="card-body fw-bold">Let's create a new post!</div>
            <form method="post" id="create_a_new_post" >
                {% csrf_token %}
                 <textarea class="form-control" id="post_message" placeholder="What are you thinking?"></textarea>
                 <button type="submit" class="position-absolute end-0 btn btn-primary mt-2 ms-auto me-4 btn-sm">POST</button>
            </form>
        </div>
        {% else %}
            {% comment %} <div class="row">
                <div class="col-12">

                </div>
            </div> {% endcomment %}
        {% endif %}
        <h3 class="text-center mt-3 text-primary title">All Posts</h3>
    <div id="allPosts">
        {% load humanize %} 
  {% for post in page_obj %}
  <div class="card mt-3 px-3 py-2 w-75 mx-auto">
    <div class="d-flex">
      <h5 class="card-title">
        <a href="{% url 'user-profile' post.owner_id %}">{{post.owner}}</a>
      </h5>
      <span class="text-small ms-3">{{post.timestamp|naturaltime}}</span>
      {% if user.is_authenticated %}
        {% if user.id == post.owner_id %}
      <div class="edit-post ms-auto" data-post-id="{{post.id}}">
        <i class="fa-regular fa-pen-to-square"></i>
      </div>
      {% endif %} {% endif %}
    </div>
    <div class="card-body">
      <p class="card-text">{{post.message}}</p>
      <span
        class=""
        data-post-id="{{post.id}}"
      >
        <i 
        class="{% if post.totalLikes > 0 %} fa-solid {% else %} fa-regular {% endif %} fa-heart love-icon"
        data-is-user-login="{% if user.is_authenticated %}True{% else %}False{% endif %}"
        style="color: #ff0080"></i>
      </span>
      <span class="fw-light total-likes-{{post.id}}" style="display:{% if post.totalLikes == 0 %} none {% endif %}">{{post.totalLikes}} </span> 
    </div>
  </div>
  {% endfor %}
  </div>
  <nav aria-label="Page navigation">
    <ul class="pagination justify-content-center mt-3">
        {% if page_obj.has_previous %}
            <li class="page-item"><a class="page-link" href="?page=1">&laquo; first</a></li>
            <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}"><span aria-hidden="true">&laquo;</span></a></li>
        {% endif %}	
        {% for i in loop_times %}
            <li class="page-item"><a class="page-link {% if page_obj.number == i %} active {% endif %}" href="?page={{i}}">{{i}}</a></li>
        {% endfor %}
        {% if page_obj.has_next %}
            <li class="page-item"><a class="page-link" href="?page={{page_obj.next_page_number}}"><span aria-hidden="true">&raquo;</span></a></li>
            <li class="page-item"><a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">Last</a></li>
        {% endif %}	
    </ul>
   </nav>
    <span id="spanSelect"></span>
{% endblock %}
